.registerBackground{
    background: url(../../images/pexels-anntarazevich-5620861.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}