.back{
    background: url(../../images/pexels-solodsha-7664817.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}